body{
  text-align: center;
  font-family: 'Calibri Light';
  margin: 0 auto;
  width: 80%;
  background: #E9E9E9;
  background-color: rgb(106, 155, 181);
}
h2{
  font-size: 5em;
  color: white;
}
p{
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.wrapper{
  padding: 5px;
  background: #FEFEFE;
  display: inline-block;
  box-shadow:0px 0px 4px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding-bottom: 1px;
  margin-bottom: 20px;
}
.help{
  font-size: .6em;
}

input[type=input] {
  color: #333 !important;
}